* {
  outline: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Montserrat',
  -apple-system,
  'BlickMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 320px;
  letter-spacing: 0.01em;
  font-size: 16px;
  line-height: 20px;
  color: black;
  background: rgb(241, 241, 241);
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 13px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  &:invalid {
    box-shadow: none;
  }

  &::-ms-clear {
    display: none !important;
  }

  &::-ms-reveal {
    display: none !important;
  }
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
}

figure {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto ;
  padding: 0 40px;
  
  @include laptop {
    max-width: 1440px;
    padding: 0 30px;
  }

  @include tablet-and-mobile {
    max-width: 100%;
    padding: 0 20px;
  }
}
