.footer {
  background-color: $color-white;
  font-size: 18px;

  @include mobile {
    font-size: 14px;
  }

  &__inner {
    padding: 30px 0;

    @media (min-width: 1200px) and (max-height: 670px) {
      padding: 15px 0;
    }

    @include tablet {
      padding: 20px 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      padding: 10px 0;
    }
  }

  &__left {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.4em;

    @include mobile {
      letter-spacing: 0.2em;
      font-size: 14px;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-logo {
      margin-left: 8px;
      padding-top: 2px;

      @include mobile {
        margin-left: 5px;
      }

      a {
        height: 36px;
        display: block;
      }

      svg {
        height: 36px;

        @include mobile {
          transform: translateY(-1px);
        }
      }

      &--desktop {
        @include mobile {
          display: none;
        }
      }

      &--mobile {
        @include no-mobile {
          display: none;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    transition: .2s ease;

    &:hover {
      color: $color-orange;
    }
  }
}