.footer {
  background-color: $color-white;
  font-size: 14px;

  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    @include mobile {
      padding: 20px;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    transition: .2s ease;

    &:hover {
      color: $color-orange;
    }
  }
}